[user]
  name = Fabio Coelho
  email = fabiocruzcoelho@gmail.com
  signingkey = /home/fabio/.ssh/id_rsa.pub

[core]
  editor = vim

[init]
  defaultBranch = main

[commit]
	gpgsign = true

[gpg]
	format = ssh
